hmtl, body {
    color: white;
    background-color: #21232A;
    font-family: "helvetica Neur",Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 78px;
    display: flex;
    margin: auto;
    justify-content: center;
}

button {
    padding: 10px;
    font-size: 1.3rem;
    margin: 10px;
    width: 50%;
}

input {
    height: 40px;
}